.paginate-container {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  list-style: none;
}

.paginate-number {
  display: flex;
  margin-top: 4px;
  color: white;
}

.paginate-number-link {
  padding: 0 7px;
  font-size: 14px;
  cursor: pointer;
}

.prev-link {
  color: white;
  cursor: pointer;
}

.is-active {
  color: orange;
  cursor: default;
  background-color: blue;
  border: 1px solid white;
  border-radius: 4px;
}

.is-active-link {
  cursor: default;
}

.break-style {
  color: gray;
  pointer-events: none;
}

.is-disabled {
  display: none;
}
