.skill-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: orange;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.7rem;
  margin-bottom: 3rem;
  gap: 1rem;
  padding: 0;
}

.icon {
  min-width: 300px;
  min-height: 150px;
  display: flex;
  flex-basis: 33.33%;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  border-radius: 20px;
  background-color: white;
  list-style: none;
}

.icon-img {
  width: 120px;
  height: auto;
}
